
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3">
        <h1 class="text-center">Suma</h1>
        <form action="/promedio/index" method="post">

            <h2 class="text-center">Resulta: @ViewData["resultado"]</h2>
            <br />
            <h5>Ingrese sus notas</h5>
            <br />
            <label>Periodo 1</label>
            <input class="form-control"  type="number" name="nota1" value="" required/>
            <br />
            <label>Periodo 2</label>
            <input class="form-control"  type="number" name="nota2" value="" required/>
            <br />
            <label>Periodo 3</label>
            <input class="form-control"  type="number" name="nota3" value="" required/>
            <br />
            <input class="text-center btn btn-warning" type="submit" name="name" value="Calcular Promedio" />
            <br />

        </form>
    </div>
</div>
