
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-3">
        <h1 class="text-center">Potencia</h1>
        <form action="/potencia/index" method="post">

            <h2 class="text-center">Resulta: @ViewData["resultado"]</h2>
            <br />
            <label>Ingrese el numero</label>
            <input class="form-control" type="number" name="numero" value="" required />
            <br />
            <label>Ingrese la potencia</label>
            <input class="form-control" type="number" name="potencia" value="" required />
            <br />
            <input class="text-center btn badge-dark" type="submit" name="name" value="Calcular" />
            <br />

        </form>
    </div>
</div>

